@model PayrollBureau.Models.BaseViewModel
<div ng-cloak ng-controller="BureauController as model" ng-init="model.retrieveStatistics('@Model.BureauId')">
    <div class="row xs-mb-10">
        <div class="col-xs-12 col-md-3">
            <a href="/Bureaus/@Model.BureauId/Employers">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa  fa-user-plus fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">
                                    <div>
                                        <span ng-bind="::model.employer"></span>
                                    </div>
                                </div>
                                <div style="color: white;">Employers</div>

                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-md-3">
            <a href="/Bureaus/@Model.BureauId/Users">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa  fa-users fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">
                                    <div>

                                        <span ng-bind="::model.user"></span>
                                    </div>
                                </div>
                                <div style="color: white;">Users</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>

</div>
