<footer>
    <div class="col-sm-3 col-lg-3">
        <p><i class="fa  fa-envelope fa-2x"></i></p>
        <p>Email Us</p>
        <p>Contact@payrollbureau.com</p>

    </div>
    <div class="col-sm-3 col-lg-3">
        <p><i class="fa  fa-phone fa-2x"></i>
        </p>
        <p>Technical Support</p>
        <p>0123456879</p>

    </div>
    <div class="col-sm-3 col-lg-3">
        <p><i class="fa  fa-file-text fa-2x"></i>
        </p>
        <p><a style="color:#ffffff" href="#">Internet Privacy & Cookie Policy</a>
        </p>
        <p></p>

    </div>
    <div class="col-sm-3 col-lg-3">
        <p><h4><i class="fa fa-code-fork"></i> @ViewContext.Controller.GetType().Assembly.GetName().Version</h4></p>
        <p>&copy; @DateTime.Now.Year All Rights Reserved. ITSL</p>

    </div>
   
</footer>
