<div ng-cloak ng-controller="HomeController as model" ng-init="model.retrievestatistics()">
    <div class="row xs-mb-10">
        <div class="col-xs-12 col-md-3">
            <a ng-href="/Bureaus">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa  fa-building-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">
                                    <div>
                                        <span ng-bind="::model.statistics.Bureau"></span>
                                    </div>
                                </div>
                                <div style="color: white;">Bureaus</div>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-md-3">
            <a ng-href="/Users">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa  fa-users fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">
                                    <div>
                                       
                                        <span ng-bind="::model.statistics.Users"></span>
                                    </div>
                                </div>
                                <div style="color: white;">Users</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
   
    </div>
   
</div>
