@model PayrollBureau.Models.EmployerViewModel
@using PayrollBureau.Extensions
@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <h2>@ViewBag.Title</h2>
    <hr />
</div>

@using (Html.BeginForm("Edit", "Employer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.Partial("_Employer", new ViewDataDictionary(this.ViewData) { { "mode", "edit" } })
    <div class="form-group">
        <div class="text-center col-md-12">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </div>
}

