@using PayrollBureau.Extensions
@model PayrollBureau.Models.EmployerViewModel
<div>
    <h1>Employees</h1>
</div>
<ol class="breadcrumb">
    @if (User.IsEmployer())
    {
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
    }
</ol>
<div class="row">
    <div class="col-lg-3">
        <input type="text" class="form-control" />
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
    </div>
</div>
<div class="row" ng-controller="EmployeeController as model" ng-init="model.initialise('@Model.EmployerId')">
    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
        <div class="ng-cloak" ng-show="model.employees.length > 0">
            <div class="dataTable_scroll">
                <table wt-responsive-table class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                    <thead>
                        <tr role="row">
                            <th ng-click="model.order('Name')" ng-class="model.orderClass('Name')">Name</th>
                            <th ng-click="model.order('PayrollId')" ng-class="model.orderClass('PayrollId')">Payroll Number</th>
                            <th ng-click="model.order('ProductName')" ng-class="model.orderClass('PayrollId')">Product Name</th>
                            <th ng-click="model.order('EmailId')" ng-class="model.orderClass('EmailId')">Email Id</th>
                            <th ng-click="model.order('EmailSent')" ng-class="model.orderClass('EmailSent')">Email Sent</th>
                            <th ng-click="model.order('EmailConfirmed')" ng-class="model.orderClass('EmailConfirmed')">Email Confirmed</th>
                            <td>Action</td>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="employee in model.employees" class="odd gradeX cursor" ng-click="$event.originalEvent.ngClickHandled || model.viewEmployee(employee.EmployeeId)">
                            <td><span ng-bind="::employee.FirstName"></span></td>
                            <td><span ng-bind="::employee.PayrollId"></span></td>
                            <td><span ng-bind="::employee.ProductName"></span></td>
                            <td><span ng-bind="::employee.EmailId"></span></td>
                            <td><i class="fa fa-close"></i></td>
                            <td><i class="fa fa-close"></i></td>
                            <td>
                                <div class="btn-group pull-right" ng-class="{'dropup':$last}">
                                    <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="$event.originalEvent.ngClickHandled = true;">
                                        <i class="fa fa-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>View</li>
                                        <li>Edit</li>
                                        <li>
                                            <a ng-bootbox-confirm="Are you sure? you want to delete employee - ({{employee.Name}})" ng-bootbox-confirm-action="model.unassignExtensionNumber(extension)" ng-bootbox-confirm-action-cancel="">
                                                Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12">
                <div class="panel-footer">
                    @Html.Partial("Pagination/_pagination")
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <label ng-bind="model.searchMessage"></label>
        </div>
    </div>
</div>
