@using PayrollBureau.Extensions

@model PayrollBureau.Models.HomeViewModel

@{
    ViewBag.Title = "PayrollBureau";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @if (User.IsSuperUser())
    {
    <h2>Hi,Admin Welcome to Payroll Bureau </h2>
     }
    <hr/>
</div>
<div class="row">
    <ol class="breadcrumb">
        <li>Home</li>
    </ol>

    @if (User.IsSuperUser())
    {
        @Html.Partial("_SuperAdminDashboard")
    }
    @if (User.IsEmployer())
    {
        @Html.Partial("_EmployerDashboard", Model)
    }

</div>